@media only screen and  (max-width:1000px){

@media only screen and (max-width:1000px){
    .by-your-side .left-side {
        top: 397px;
    }
    .by-your-side .right-text h1 {
        font-size: 50px;
    }
    .by-your-side .right-text {
        font-size: 20px;
    }
    .text-box {
        width: 40%;
    }
    .next-section .text-box h1 {
        font-size: 31px;
    }
    .sign-in {
        width: 300px;
        height: 650px;
        padding: 30px;
        margin-top: -61px;
    }
    .has-contact .or-section p::after {
        width: 108px;
        right: -143px;
    }
    .has-contact .or-section p::before {
        width: 108px;
        left: -143px;
    }
}
}